{% extends "base.html" %}

{% block page-title %}
{% if create_or_update %}
Create Model
{% else %}
Update Model
{% endif %}
{% endblock %}

{% block main-content %}
<h1>
{% if create_or_update %}
Create New Model:
{% else %}
Update Model: {{ model.name }}
{% endif %}
</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit">
        {% if create_or_update %}
        Add Model
        {% else %}
        Update Model
        {% endif %}
    </button>
</form>
{% endblock %}